@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;

}

nav {
	height: 80px;
	background: #2D2D2D;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0rem calc((100vw-1300px) / 2);
}

.logo {
	color: #FFFFFF;
	font-size: 1.5rem;
	font-weight: bold;
	font-style: italic;
	padding: 0 2rem;

}

nav a {
	text-decoration: none;
	color: #FFFFFF;
	padding: 0 1.5rem;
}

.hero {
	background: #2D2D2D;
}

.hero-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 95vh;
	padding: 3rem calc((100vw-1300px) / 2);
}

.column-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: #FFFFFF;
	padding: 0rem 2rem;
}

.column-left h1 {
	margin-bottom: 1rem;
	font-size: 3rem;
}

.column-left p {
	margin-bottom: 2rem;
	font-size: 1.5rem;
	line-height: 1.5;
}

button {
	padding: 1rem 3rem;
	font-size: 1rem;
	border: none;
	background: #3B3B3B;
	color: #FFFFFF;
	cursor: pointer;
	border-radius: 30px;
}

button:hover {
	background: #FFFFFF;
	color: #3B3B3B;
}

.column-right {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0rem 2rem;
}

.hero-image {
	width: 100%;
	height: 100%;
}



@media screen and (max-width: 768px) {
	.hero-container {
		grid-template-columns: 1fr;
	}
}